@use "../utils/" as *;

.index {
    min-height: 50svh;


    @include center-flex;


    &__controls-container {
        @include center-flex-column(15px);
    }

    &__fieldset {
        @include center-flex-column(10px);

        width: 100%;
    }


    &__button {
        background-color: var(--color-primary);

        color: var(--bg-primary);

        padding: 5px;

        width: 25%;

        border-radius: 100vmax;
    }
}